@media screen and (max-width: 1011px){
    #span-left ul,#span-right ul {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        overflow: hidden;
        
    }
 
    #span-left a, #span-right a {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 505px){
    :root {
        font-size: 35%;
    }
    #google-content img{
        height: 100px;
    }
    #input {
        /* background-color: red; */
        width: 350px;
    }
    #searchBar {
        width: 200px;
    }
    header {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 349px){
    #input{
       width: 300px;
    }
    #searchBar {
        width: 150px;
    }
    #google-content img {
        height: 80px;
    }

}